<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section id="about" class="text-text body-font bg-white py-16 -mt-10">
  <div class="container mx-auto flex px-5 py-12 md:flex-row flex-col items-center">
    <!-- About Us Section -->
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center animate-fade-in-up">
      <h1 class="text-4xl font-bold mb-4 text-primary animate-slide-in-left">About Us</h1>
      <p class="mb-6 leading-relaxed text-lg text-muted animate-fade-in" style="animation-delay: 0.2s;">
        Connect SRM is dedicated to bridging the gap between students and institution. Our mission is to create an intuitive platform that fosters seamless communication, engagement, and collaboration.
      </p>
      <p class="mb-6 leading-relaxed text-lg text-muted animate-fade-in" style="animation-delay: 0.4s;">
        By leveraging modern technology, we provide tools that not only enhance academic management but also focus on strengthening student-institution relationships. We believe that engaged students are empowered learners.
      </p>
      <p class="text-lg text-muted animate-fade-in" style="animation-delay: 0.6s;">
        Join us as we revolutionize student engagement, streamline support systems, and build a more connected academic environment where growth and success are prioritized for all stakeholders.
      </p>
      <div class="flex justify-center mt-8 animate-fade-in-up" style="animation-delay: 0.8s;">
        <a routerLink="/contact" class="cursor-pointer inline-flex text-white bg-gradient-to-r from-primary to-accent border-0 py-3 px-6 focus:outline-none hover:from-accent hover:to-primary rounded-full text-lg shadow-md hover:shadow-lg transition-all duration-200">
          Get in Touch
        </a>
      </div>
    </div>

    <!-- Team Section -->
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-full animate-fade-in-smooth">
      <h2 class="text-3xl font-bold mb-6 text-center">Our Team</h2>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 justify-items-center">
        <!-- Team Member 1 -->
        <div class="text-center">
          <img src="sn.jpg" alt="Team Member 1" class="rounded-full mx-auto mb-2 w-24 h-24 md:w-28 md:h-28">
          <h3 class="font-semibold">Siddharth Narela</h3>
          <p class="text-sm text-muted">Founder</p>
          <div class="flex justify-center mt-2">
            <a href="https://www.linkedin.com/in/siddharth-narela-11ba04185" target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-linkedin text-2xl text-primary transition-colors duration-300"></i></a>
            <a href="https://github.com/siddharthnarela" target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-github text-2xl text-black transition-colors duration-300"></i></a>
          </div>
        </div>
        
        <!-- Team Member 2 -->
        <div class="text-center">
          <img src="pg.jpg" alt="Team Member 2" class="rounded-full mx-auto mb-2 w-24 h-24 md:w-28 md:h-28">
          <h3 class="font-semibold">Pulkit Gupta</h3>
          <p class="text-sm text-muted">Co-Founder</p>
          <div class="flex justify-center mt-2">
            <a href="https://www.linkedin.com/in/pulkitgupta2408" target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-linkedin text-2xl text-primary transition-colors duration-300"></i></a>
            <a href="https://github.com/pulkit1417" target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-github text-2xl text-black transition-colors duration-300"></i></a>
          </div>
        </div>

        <!-- Team Member 3 -->
        <div class="text-center">
          <img src="kp.jpg" alt="Team Member 3" class="rounded-full mx-auto mb-2 w-24 h-24 md:w-28 md:h-28">
          <h3 class="font-semibold">Kushagra Pandey</h3>
          <p class="text-sm text-muted">Co-Founder</p>
          <div class="flex justify-center mt-2">
            <a href="https://www.linkedin.com/in/kushagra-pandey-24257a240" target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-linkedin text-2xl text-primary transition-colors duration-300"></i></a>
            <a href="https://www.github.com/opkpEh" target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-github text-2xl text-black transition-colors duration-300"></i></a>
          </div>
        </div>
          <!-- Team Member 4 -->
          <div class="text-center">
            <img src="hd.jpg" alt="Team Member 4" class="rounded-full mx-auto mb-2 w-24 h-24 md:w-28 md:h-28">
            <h3 class="font-semibold">Harsh Bhushan Dixit</h3>
            <p class="text-sm text-muted">Co-Founder</p>
            <div class="flex justify-center mt-2">
              <a href="https://www.linkedin.com/in/harsh-bhushan-dixit-0953b52b1" target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-linkedin text-2xl text-primary transition-colors duration-300"></i></a>
              <a href="https://github.com/HarshBhushanD" target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-github text-2xl text-black transition-colors duration-300"></i></a>
            </div>
          </div>

          <!-- Team Member 5 -->
          <div class="text-center">
            <img src="ap.jpg" alt="Team Member 5" class="rounded-full mx-auto mb-2 w-24 h-24 md:w-28 md:h-28">
            <h3 class="font-semibold">Anubhav Parashar</h3>
            <p class="text-sm text-muted">Co-Founder</p>
            <div class="flex justify-center mt-2">
              <a href="https://www.linkedin.com/in/anubhav-parashar-4aa61b280/" target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-linkedin text-2xl text-primary transition-colors duration-300"></i></a>
              <a href="https://github.com/AnubhavScripts" target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-github text-2xl text-black transition-colors duration-300"></i></a>
            </div>
          </div>  
          <div class="text-center">
            <img src="logo.png" alt="Team Member 4" class="rounded-full mx-auto mb-2 w-24 h-24 md:w-28 md:h-28">
            <h3 class="font-semibold">Other Members...</h3>
            <p class="text-sm text-muted">The OG ones</p>
            <div class="flex justify-center mt-2">
              <a target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-linkedin text-2xl text-primary transition-colors duration-300"></i></a>
              <a target="_blank" rel="noopener noreferrer" class="mx-1"><i class="fab fa-github text-2xl text-black transition-colors duration-300"></i></a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
